.main-content-part {
    background: url('../images/woman_on_laptop.svg'), 
      linear-gradient(to right, #f6f8fc, #f6f8fc);
    background-repeat: no-repeat, repeat;
    background-size: 40% 45%;
    background-position: right bottom, center;
}
ul {
    padding-inline-start: 20px;
}
.main-page-title {
    padding-right: 20rem;
}
.decorative-line-above-form div {
    height: 4px;
}
.decorative-line-above-form div:not(:first-of-type) {
    background-color: #f3f3f3;
}
.green-badge, .help-icon {
    background-color: rgba(40, 167, 69, 0.3);
}
.red-badge {
    background-color: rgba(220, 53, 69, 0.3);
}
.application-tips {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.975), rgba(255, 255, 255, 0.975)),
     url('../images/world-map.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Media Queries */ 
@media (max-width: 991.98px) {
    .main-page-title {
        padding-right: 15px;
    }
}